/*==================================================
=                     Stylesheet                   =
==================================================*/

 /*==========  Main Page Formatting  ==========*/

html,body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    padding: 0;
    margin: 0 auto;
}

.siteWrapper {
    height: 100%;
}

/*==================================================
=                     Header/Nav                   =
==================================================*/

 /*==========  Header  ==========*/

.header {
    background: #cee5ee; 
    background-image: url(Assets/clouds.svg);
    background-size: contain;
    position: fixed;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-align-content: flex-end;
    align-content: flex-end;
    -ms-align-items: center;
    align-items: center;
    -ms-justify-content: center;
    justify-content: center;
    left: 0; top: 0; 
    width: 100%;
    height: 120px;
    z-index: 10; 
    margin: 0 auto;

}

div#logo {
    width: 600px;
    height: 100px;
    content: '';
    background: url(Assets/logo.png);
    background-size: cover;
    margin-bottom: 20px;
   
}

 /*==========  Nav  ==========*/

nav {
    position: relative;
    width: 100%;
    padding: 0px;
    bottom: 15px;
}

nav ul {
    list-style: none;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0; 
    padding: 0;
    font-family: 'Boogaloo';
    font-size: 100%;
    text-align: center;
}

ul li {
    position: relative;
    padding: 0px 15px 0px 15px;
    text-align: center;
}

 /*==========  Header Link Styling  ==========*/

ul li a {
    color: #9d9a9a;
    text-decoration: none;
    text-align: center;
}

ul li a:hover:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(206, 229, 238, 0);
	border-top-color: #cee5ee;
	border-width: 30px;
	margin-left: -30px;
    z-index: 10;
}

ul li a:hover {
    color: #535252;
}

/*==================================================
=                     Footer                       =
==================================================*/

footer {
    background: #cee5ee; 
    background-image: url(Assets/clouds.svg);
    background-size: contain;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-align-items: center;
    align-items: center;
    -ms-align-content: flex-start;
    align-content: flex-start; 
    padding: 0;
    width: 100%;
    height: 120px;
    z-index: 10; 
    padding-top: 10px;
    margin-bottom: 150px;
    margin-top: 20px;
    min-height: 1px;
}

 /*==========  Footer Link Styling  ==========*/

footer > a {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Libre Baskerville', serif ;
    font-weight: 400;
    font-style: italic;
    color: #9d9a9a;
    margin: 0px 0px 10px 0px;
}

/*footer > a:hover {
    color: #535252;
    
}*/

div.social {
    width: 80vh;
    height: auto;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -ms-flex-flow: row;
    flex-flow: row;
    -ms-align-content: flex-start;
    align-content: flex-start;
    -ms-justify-content: center;
    justify-content: center;
    z-index: 1000;
}

 /*==========  Social Icons  ==========*/

a svg:hover #facebook,
a svg:hover #instagram,
a svg:hover #twitter,
a svg:hover #youtube { 
  fill: #535252;
}

footer > a,
a svg #facebook,
a svg #instagram,
a svg #twitter,
a svg #youtube { 
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

a.social {
    margin: 0px 5px 0px 5px;
}

 /*==========  Footer Image  ==========*/

footer div#mountains {
    height: 80px;
    width: 240px;
    background: url(Assets/hills.png);
    background-size: cover;
    bottom: 0;
    z-index: 11;
}

/*==================================================
=                    Main Content                  =
==================================================*/

#main {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

 /*==========  Section Formatting  ==========*/

.panel {
    width: 100%;
    height: 100%;
    background: #fcfcfc;
    z-index:0; 
    -ms-overflow-y: scroll;
    -ms-overflow-x: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    margin: 0 auto;
    bottom: 0;
    padding: 150px 0px 0px 0px;
    min-height: 1px;

}

.contentWrapper {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

 /*==========  Navigation Transitioning  ==========*/

a[ id= "shorts" ]:target ~ #main div.panel {
    -webkit-transform: translateY( 0%);
    transform: translateY( 0% );
}

a[ id= "comics" ]:target ~ #main div.panel {
    -webkit-transform: translateY( -100% );
    transform: translateY( -100% );
}
a[ id= "about" ]:target ~ #main div.panel {
    -webkit-transform: translateY( -200% );
    transform: translateY( -200% );
}

 /*==========  Video Formatting  ==========*/

div.video {
    height: 300px;
    width: 533.33px;
    margin: 10px;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 100ms;
    -webkit-transition-timing-function: ease-in-out;
    
}

div.video:hover,
div.comics:hover
{
    opacity: 0.9;
    
}

          /*  Video Thumbnail  */

#kiss {
    background: url(Assets/kiss.png);
    background-size: cover;
    
}

#iphone {
    background: url(Assets/iphone.png);
    background-size: cover;
}

#more {
    background: url(Assets/more.png);
    background-size: cover;
}

#tuned {
    background: url(Assets/tuned.png);
    background-size: cover;
}

 /*==========  Comics Formatting  ==========*/

div.comics {
    height: 550px;
    width: 550px;
    margin: 10px;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 100ms;
    -webkit-transition-timing-function: ease-in-out;
    
}

            /* Comic Thumbnails  */

#shmoopy {
    background: url(Assets/comic1.png);
    background-size: cover;
}


 /*==========  About Us Fomratting  ==========*/

div.baby {
    width: 500px;
    height: 500px;
    background: url(Assets/baby-logo.png);
    background-size: cover;
}

p {
    font-size: 24px; 
    font-family: 'Boogaloo';
    margin: 0 auto;
    color: #9d9a9a;
    text-align: center;
}


/*==================================================
=                   Mobile Styling                 =
==================================================*/

@media only screen and (max-device-width : 480px) {
    
    div.video {
        width: 355.55px;
        height: 200px
    }
    
    div.comics {
        width: 400px;
        height: 400px;
    }
    
    div#logo {
        background: url(Assets/mobileLogo.png);
        background-size: cover;
            
    }
    
    div.baby {
        width: 300px;
        height: 300px;
    }
    

}

@media only screen and (max-device-height : 350px) {
    header {
        height: 80px;
    
    }
    
    div#logo {
        height: 50px;
        width: 300px;
    }
}

@-ms-viewport{
  width: device-width;
}


