/*==================================================
=                     Stylesheet                   =
==================================================*/

 /*==========  Main Page Formatting  ==========*/

html,body {
    width: 100%;
    height: 100%;
    position: relative; 
    font-size: 100%;
    padding: 0;
    margin: 0 auto;
}

.siteWrapper {
    height: 100%;
    position: relative;
}

/*==================================================
=                     Header/Nav                   =
==================================================*/

 /*==========  Header  ==========*/

header {
    background: #cee5ee; 
    background-image: url(Assets/clouds.svg);
    background-size: contain;
    position: fixed;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: center;
    justify-content: center;
    left: 0; top: 0; 
    width: 100%;
    height: 120px;
    z-index: 10; 
    margin: 0 auto;
}

.hidden {
    top: -120px;
}

div#logo {
    width: auto;
    height: auto;
    content: url(Assets/logo.png);
    margin-bottom: 20px;
   
}

 /*==========  Nav  ==========*/

nav {
    position: absolute;
    width: 100%;
    padding: 0px;
    bottom: 15px;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
    transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
}

nav ul {
    list-style: none;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0; 
    padding: 0;
    font-family: 'Boogaloo';
    font-size: 100%;
    text-align: center;
}

ul li {
    position: relative;
    padding: 0px 15px 0px 15px;
    text-align: center;
}

 /*==========  Header Link Styling  ==========*/

ul li a {
    color: #9d9a9a;
    text-decoration: none;
    text-align: center;
}

ul li a:hover:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(206, 229, 238, 0);
	border-top-color: #cee5ee;
	border-width: 30px;
	margin-left: -30px;
    z-index: 10;
}

ul li a:hover {
    color: #535252;
}

/*==================================================
=                     Footer                       =
==================================================*/

footer {
    background: #cee5ee; 
    background-image: url(Assets/clouds.svg);
    background-size: contain;
    align-self: flex-end;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: flex-start;
    left: 0; bottom: 0; 
    padding: 0;
    width:100%;
    height: 120px;
    z-index: 10; 
    padding-top: 10px;
    margin-bottom: 150px;
    margin-top: 20px;
}

 /*==========  Footer Link Styling  ==========*/

footer > a {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Libre Baskerville', serif ;
    font-weight: 400;
    font-style: italic;
    color: #9d9a9a;
    z-index: 1000;
    margin: 0px 0px 10px 0px;
}

footer > a:hover {
    color: #535252;
    
}

div.social {
    width: 80vh;
    height: auto;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    flex-flow: row;
    align-content: flex-start;
    justify-content: center;
    z-index: 1000;
}

 /*==========  Social Icons  ==========*/

a svg:hover #facebook,
a svg:hover #instagram,
a svg:hover #twitter,
a svg:hover #youtube { 
  fill: #535252;
}

footer > a,
a svg #facebook,
a svg #instagram,
a svg #twitter,
a svg #youtube { 
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

a.social {
    margin: 0px 5px 0px 5px;
}

 /*==========  Footer Image  ==========*/

footer div#mountains {
    
    width: auto;
    height: 100px; 
    content: url(Assets/hills.svg);
    bottom: 0;
    z-index: 11;
}

/*==================================================
=                    Main Content                  =
==================================================*/

#main {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

 /*==========  Section Formatting  ==========*/

.panel {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fcfcfc;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    align-items: center;
    justify-content: center;
     -webkit-flex-flow: row wrap;
    z-index:0; 
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    margin: 0 auto;
    padding: 150px 0px 0px 0px;
    
}

 /*==========  Navigation Transitioning  ==========*/

a[ id= "shorts" ]:target ~ #main div.panel {
    -webkit-transform: translateY( 0%);
    transform: translateY( 0% );
}

a[ id= "comics" ]:target ~ #main div.panel {
    -webkit-transform: translateY( -100% );
    transform: translateY( -100% );
}
a[ id= "about" ]:target ~ #main div.panel {
    -webkit-transform: translateY( -200% );
    transform: translateY( -200% );
}

 /*==========  Video Formatting  ==========*/

div.video {
    height: 300px;
    width: 533.33;
    margin: 10px;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 100ms;
    -webkit-transition-timing-function: ease-in-out;
    
}

div.video:hover,
div.comics:hover
{
    opacity: 0.9;
    
}

          /*  Video Thumbnail  */

#kiss {
    content: url(Assets/kiss.png);
    
}

#iphone {
    content: url(Assets/iphone.png);
}

#more {
    content: url(Assets/more.png);
}

#tuned {
    content: url(Assets/tuned.png);
}

 /*==========  Comics Formatting  ==========*/

div.comics {
    height: 600px;
    width: 600px;
    margin: 10px;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 100ms;
    -webkit-transition-timing-function: ease-in-out;
    
}

            /* Comic Thumbnails  */

#shmoopy {
    content: url(Assets/comic1.png);
}



/*==================================================
=                   Mobile Styling                 =
==================================================*/

@media only screen and (max-device-width : 480px) {
    div.comics {
        width: 400px;
        height: 400px;
    }

    }

@-ms-viewport{
  width: device-width;
}


